*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Head section */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 1.5rem;
    background-color: #313243;
}

#logo {
    width: 70%;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 2rem;
}

nav a {
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    transition: all 0.7s ease-in-out;
}

nav a:hover {
    color: #FFA500;
    transform: rotate(360deg);
}

/* Main section */
.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 8rem;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8rem;
   
    background-image: url('img/comp6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
    color: white;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills-card {
    background-color: #313243;
    color: white;
    width: 28rem;
    height: 33rem;
    box-shadow: 5px 5px 20px rgb(141, 136, 136);
    margin: 1rem;
}


.skills-image {
    margin-top: 2.5rem;
    width: 20rem; 
}

.subtext {
    font-size: 1.3rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
}

a {
    color: white;
}

span {
    color: #FFA500;
}

.skills-card a:hover {
    background-color: #a81308;
    transition: all 0.7s ease-in-out;
}

/* Social media section */
#socials {
    background: #313243;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#socials p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#socials nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Footer section */
footer {
    text-align: center;
    background: #313243;
    padding: 1.5rem;
}

footer p {
    font-size: 1.25rem;
    color: white;
    background: #313243;
}

@media only screen and (min-width: 440px) {
    #logo {
        width: 55%;
        margin-bottom: 0;
    }

    nav a {
        
        font-size: 2.4rem;
    }
}

@media only screen and (min-width: 550px) {
    #logo {
        margin-left: 1rem;
        width: 35%;
    }
}

@media only screen and (min-width: 740px) {
    header {
        flex-direction: row;
    }

    #logo {
        margin-left: 1rem;
        width: 18%;
    }
}

@media only screen and (min-width: 920px) {
    #logo {
        margin-left: 1rem;
        width: 10%;
    }
}